.button {
    background-color: rgba(201, 201, 201, 0.5);
    color: #555555;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    border: 2px solid rgba(85, 85, 85, 0.25);

    /* outline: 2px solid rgba(119, 119, 119, 0.25); */

    font-weight: bold;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: rgba(175, 175, 175, 0.75);
    color: #333333;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}





.button.small {
    padding: 4px 20px;
    font-size: 20px;
}

.button.medium {
    padding: 5px 25px;
    font-size: 25px;
}

.button.large {
    padding: 6px 30px;
    font-size: 30px;
}

.button.extraLarge {
    padding: 7px 35px;
    font-size: 35px;
}

.button.mega {
    padding: 8px 40px;
    font-size: 40px;
}